# Tests requirements
jmespath
mitmproxy; python_version >= '3.6'
mitmproxy<4.0.0; python_version < '3.6'
pytest
pytest-cov
pytest-twisted >= 1.11
pytest-xdist
sybil
testfixtures

# optional for shell wrapper tests
bpython
brotlipy
ipython
pywin32; sys_platform == "win32"
cryptography>=41.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
